{{- $yyyymm := .Get 0 | default $.Page.File.BaseFileName -}}
{{- $path := printf "_data/%s/prizes.csv" $yyyymm -}}
{{- $prizes := getCSV "," $path -}}
<div class="overflow-scroll">
  <table class="collapse w-100 ba b--black-10">
    {{- range $i, $prize := $prizes -}}
      {{- $event :=  trim (index $prize 0) "\n\t " -}}
      {{- $winner :=  trim (index $prize 1) "\n\t " -}}
      {{- $finalist := trim (index $prize 2) "\n\t " -}}
      {{- $semi := trim (index $prize 3) "\n\t " -}}
      {{- $isEven := modBool $i 2 -}}
      {{- if eq $i 0 -}}
        <tr class="near-black bg-lightest-blue">
          <th class="tl pl2 {{ if $isEven }}pv1{{ end }}">Singles</th>
          <th class="tl pl4">{{ $winner }}</th>
          <th class="tl pl4">{{ $finalist }}</th>
          <th class="tl pl4">{{ $semi }}</th>
        </tr>
      {{- else if in (split $event " ") "Singles" -}}
        <tr class="striped--light-gray">
          <td class="tl pl2 nowrap {{ if $isEven }}pv1{{ end }}">{{ replace $event " Singles" "" }}</td>
          <td class="tl pl4 nowrap {{ if $isEven }}pv1{{ end }}">
            {{- range (split $winner "\\n") -}}
              {{ . }}<br>
            {{- end -}}
          </td>
          <td class="tl pl4 nowrap {{ if $isEven }}pv1{{ end }}">
            {{- range (split $finalist "\\n") -}}
              {{ . }}<br>
            {{- end -}}
          </td>
          <td class="tl pl4 nowrap">{{ default "-" $semi }}</td>
        </tr>
      {{- end -}}
    {{- end -}}
    <tr><td colspan="4">&nbsp;</td></tr>
    {{- range $i, $prize := $prizes -}}
      {{- $event :=  trim (index $prize 0) "\n\t " -}}
      {{- $winner :=  trim (index $prize 1) "\n\t " -}}
      {{- $finalist := trim (index $prize 2) "\n\t " -}}
      {{- $semi := trim (index $prize 3) "\n\t " -}}
      {{- $isEven := modBool $i 2 -}}
      {{- if eq $i 0 -}}
        <tr class="near-black bg-lightest-blue">
          <th class="tl pl2 {{ if $isEven }}pv1{{ end }}">Doubles</th>
          <th class="tl pl4">{{ $winner }}</th>
          <th class="tl pl4">{{ $finalist }}</th>
          <th class="tl pl4"></th>
        </tr>
      {{- else if in (split $event " ") "Doubles" -}}
        <tr class="striped--light-gray">
          <td class="tl pl2 nowrap {{ if $isEven }}pv1{{ end }}">{{ replace $event " Doubles" "" }}</td>
          <td class="tl pl4 nowrap {{ if $isEven }}pv1{{ end }}">
            {{- range (split $winner "\\n") -}}
              {{ . }}<br>
            {{- end -}}
          </td>
          <td class="tl pl4 nowrap {{ if $isEven }}pv1{{ end }}">
            {{- range (split $finalist "\\n") -}}
              {{ . }}<br>
            {{- end -}}
          </td>
          <td class="tl pl4 nowrap">{{ default " " $semi }}</td>
        </tr>
      {{- end -}}
    {{- end -}}
  
  </table>
</div>
