{{ define "title" }}
  {{- $yyyymm := index (split .URL "/") 1 -}}
  {{- $meta := replaceRE "\\.$" "" (delimit (slice "meta" (getenv "ENV")) ".") -}}
  {{- $meta := index (index .Site.Data $yyyymm) $meta }}
  {{ default $meta.title .Title }}
{{ end }}

{{ define "style" }}
  <link rel="stylesheet" type="text/css" href="/tournament/entries.css">
{{ end }}

{{ define "main" }}
  {{- $yyyymm := index (split .URL "/") 1 -}}
  {{- $meta := replaceRE "\\.$" "" (delimit (slice "meta" (getenv "ENV")) ".") -}}
  {{- $meta := index (index .Site.Data $yyyymm) $meta }}
  <h1>{{ default $meta.title .Title }}</h1>
  {{ .Content }}
{{ end }}

{{ define "script" }}
  {{- $path := split .URL "/" -}}
  {{- $yyyymm := index $path 1 -}}
  {{- $action := index $path 3 -}}
  {{- $meta := replaceRE "\\.$" "" (delimit (slice "meta" (getenv "ENV")) ".") -}}
  {{- $path := printf "data/%s/%s.json" $yyyymm $meta -}}
  {{- $json := getJSON $path -}}
  <script type="module">
    import App from "/tournament/entries/form.js";
    var options = {{ $json.entry | jsonify }};
    options.action = "{{ cond (eq $action "edit") "update" "create" }}";
    new App({{ $yyyymm }}, options);
  </script>
{{ end }}
