{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "style" }}
  <style>
  ul.bracket:before,
  ul.bracket:after {
    content: " ";
    display: inline-block;
    flex-grow: .5;
  }

  .min-h1 { min-height: 1rem; }
  .min-h2 { min-height: 2rem; }
  .min-h3 { min-height: 4rem; }
  .min-h4 { min-height: 8rem; }
  .min-h5 { min-height: 16rem; }
  </style>
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
{{ end }}

{{ define "script" }}
  {{- $yyyymm := index (split .URL "/" ) 1 -}}
  {{- $path := printf "data/%s/sources.json" $yyyymm -}}
  {{- $json := getJSON $path -}}
  <script type="module">
    import App from "/tournament/scores.js";
    new App({{ $yyyymm }}, {{ $json.scores | jsonify }});
  </script>
  <script type="module">
    import App from "/tournament/link.js";
    new App({{ $json.links | jsonify }}, "scores");
  </script>
{{ end }}

