<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="tachyons.css">
  </head>
  <body>
    <header class="flex pt3 pb2 bb b--light-gray">
      <a class="w-50 tc no-underline" href="/">
        <img class="h2" src="nittaku-logo.png">
      </a>
      <div class="w-50 tc">
        <a class="no-underline mt3 f6 ba br-100 dib w1 h1 silver hover-near-black i" href="javascript:void(0)">i</a>
      </div>
    </header>
    <main class="center w-60">
      <h2>Planned Tournament</h2>
      May 2019

      <h2>Past Tournament</h2>
      Oct 2018
    </main>
  </body>
</html>
